<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>ListToDo</title>
</head>

<body>
  <h2>List to do</h2>
  <table class="tbl">
    <tr>
      <td class="tbl">Business</td>
      <td class="tbl">Priority</td>
      <td class="tbl">comlete</td>
    </tr>
    {{#each data}}
    <tr>
      <td class="tbl-slim">{{business}}</td>
      <td class="tbl-slim">{{priority}}</td>
      <td class="tbl-slim">{{complete}}</td>
    </tr>
    {{/each}}
  </table>
</body>

</html>