<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>ListToDo</title>
</head>

<body>
  <h2>List to do</h2>
  <table class="tbl">
    <tr>
      <td class="tbl">ID</td>
      <td class="tbl">Business</td>
      <td class="tbl">Priority</td>
      <td class="tbl">comlete</td>
    </tr>
    {{#each data}}
    <tr>
      <td class="tbl-slim">{{id}}</td>
      <td class="tbl-slim">{{task}}</td>
      <td class="tbl-slim">{{priority}}</td>
      <td class="tbl-slim">{{complete}}</td>
    </tr>
    {{/each}}
  </table>
  <a href="/ADD">Add task</a>
  <a href="/DELETE">Delete task</a>
  <a href="/SEARCH">Change task</a>
  <a href="/COMPLETE">Complete task</a>
  <a href="/auth/exit">Exit</a>
  <br>
  <button id="btn">Get Data</button>
  <script>
    let btn = document.getElementById("btn");
    btn.onclick = async () => {
      let response = await fetch("/API/getDATA");
      if (response.ok) {
        let data = await response.json();
        console.log(data);
        let tbl = document.createElement("table");
        tbl.className = "tbl";
        document.body.append(tbl)
        data.forEach((elem) => {
          let tr = document.createElement("tr");
          tr.className = "tbl-slim";
          tbl.append(tr)
          let td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerText = elem.id;
          tr.append(td);
          td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerText = elem.task;
          tr.append(td);
          td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerText = elem.priority;
          tr.append(td);
          td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerText = elem.complete;
          tr.append(td);
          td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerHTML = "<button>Delete</button>";
          tr.append(td);
          td = document.createElement("td");
          td.className = "tbl-slim";
          td.innerHTML = `<button id=compete${elem.id}>Complete</button>`;
          tr.append(td);
        })

      } else {
        console.log("Error", response.status)
      }
    }
  </script>
</body>

</html>